* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.banner {
  height: 100%;
  box-sizing: content-box;
  width: 100%;
  border: solid #000000 1px;

  /* background-image: url(../img/logo\(4\).jpg);
  background-position-x: center;
  background-position-y:center;
  background-size:contain; */
}

.logo {
  width: 200px;
  height: 200px;
  position: relative;
  bottom: 20px;
}

.imagen {
  width: 200px;
  height: 200px;
  margin: 0px 0px 0px 50px;
}

main {
  display: flex;
}

h2 {
  border: solid #000000 1px;
  background-color: white;
  color: black;
  text-align: center;
}

p {
  margin: 0px 0px 0px 25px;
}

.nav-btn {
  font-size: medium;
  box-shadow: 10px 5px 5px rgb(15, 14, 14);
  float: right;
  background-color: dodgerblue;
  color: white;
  padding: 5px;
  border-radius: 4px;
  margin: 5px;
  position: relative;
  bottom: -15px;
}

.nav-btn:hover {
  background-color: darkgreen;
}

nav h1 {
  font-family: 'Comic Neue', cursive;
  color: black;
  font-size: 1.5em;
  padding: 10px;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0px;
}